# Pure Scaffold Essentials
NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_DEPLOY_API_URL=http://localhost:8025/v1
NEXT_PUBLIC_PLATFORM_API_URL=http://localhost:8025/v1
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Optional
# NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
